body {
    background-color: #020202;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
}

.gpa {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.congratulations {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    color: #fff;
    background-color: #ff5e8b;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}