body {
    background-color: black;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .column {
    flex-basis: 50%;
  }
  
  .input-box {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
  }
  
  .input-box input[type="text"],
  .input-box select {
    appearance: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    color: #ddd;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .input-box input[type="text"]:focus,
  .input-box input[type="text"]:active,
  .input-box select:focus,
  .input-box select:active {
    border-color: #aaa;
  }
  
  .input-box select option {
    background-color: black;
    color: #ddd;
  }
  
  .input-box select option:hover {
    background-color: #333;
  }
  
  .label-text {
    position: absolute;
    top: -20px;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .submit-button,
  .go-back-button {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
  }
  
  .submit-button:hover,
  .go-back-button:hover {
    background-color: #ff4192;
  }
  
  /* Media Queries for Mobile */
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    
    .column {
      flex-basis: 100%;
    }
    
    .input-box {
      width: 100%;
    }
    
    .button-container {
      flex-direction: column;
      align-items: center;
    }
    
    .go-back-button {
      margin-top: 20px;
    }
  }